.body{
  background-color: #f1f1f1 ;
}

.heading 
{
  border-radius: 16px;
  background-image: url("images/headBg.jpg"); 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.allStuff {
  background-image: url("images/bg.jpg");
  display: flex;
  border-radius: 50px;
  font-size: x-large;
  width:auto; 
}
.allStuff .image {
  flex-grow: 1;
  flex-basis: 40%;
  min-width: 200px;

}
.image img {
  display: block;
  max-width: 100%;
  max-height: 300px;
  border-radius: 50px;
}
.text {
  flex-grow: 1;
  flex-basis: 60%;
  min-width: 300px;
}